<div class="main">
    <div class="m-3 row mx-0 col-8 contain">
    <div class="image mt-2 p-2 col-4">
    <img src= {{movie_show.image}} height="200" width="300" class="img-thumbnail" alt="Thar Movie">
    <div class="mt-2 p-2" style="color: white;">
      <br><br><br>
      <strong>Director:</strong>{{movie_show.director}}
      <br>
      <strong>Producer:</strong>{{movie_show.producer}}
      <br>
      <strong>Starring:</strong>{{movie_show.starring}}
      <br><br><br>
       <strong>Rating:</strong> 3
       <br>
       <span class="fa fa-star checked p-1" style="color: gold;"></span>
       <span class="fa fa-star checked p-1" style="color: gold;"></span>
       <span class="fa fa-star checked p-1" style="color: gold;"></span>
       <span class="fa fa-star p-1"></span>
       <span class="fa fa-star p-1"></span>
       
    </div>
    </div>
    <div class="col-8 mt-2 p-2" style="color: white;">
      <p class="top-content pb-3"><strong style="font-size: larger;">{{movie_show.movie}}</strong>
        <br>
        Directed by {{movie_show.director}}
        <br>
        Review: Swarnendu Saha
        <br>
      </p>
      <div style="font-family: 'Cabin', sans-serif;">
      <strong>Good points:</strong> 
      <ol>
       <li>Nice depiction of rural India.</li>
       <li>Cinematography, look and feel of the movie.</li>
       <li>Anil Kapoor's sincere effort.</li>
      </ol>
      
      <strong>Bad points:</strong> 
      <ol>
        <li>A very predictable plot with zero to little surprises.</li>
        <li>Harshvardhan Kapoor's acting in the movie.</li>
        <li>Length of the movie.</li>
      </ol>
  
      <strong>Break:</strong>  You may need a couple of breaks throughout the movie,you're not going 
         to miss anything if you go and grab some munchies.
        <br><br>
        <strong>Plot:</strong> In 1985, Siddharth Kumar, an antique dealer, travels through Munabao, a remote Rajasthani village situated in the Thar desert near the Pakistan border, that has been rocked recently by many violent killings. 
        As Inspector of Munabao, Surekha Singh, investigates these killings, he crosses paths with Siddharth.
        <br><br>
        <strong>Performance:</strong>  Anil Kapoor has delivered a good performance, he keeps the audience
         hooked, atleast upto some extent.
         Satish Kaushik has lend a good support, but his performance lacks the sincerity 
         and seems monotonous after a certain point.
         Harshvardhan Kapoor gives a very blunt performance, although he was suppose to carry
         the movie on his shoulders.
         <br><br>
         <strong>Direction:</strong>  The direction was decent, the narrative style of the director was something that made the movie watchable.
         A better plot teamed up with such story telling would have turned into something big.
        </div>
    </div>
    </div>
    </div>
    <page-footer></page-footer>

